{% extends 'main/index.html' %}
{% load my_tags %}
{% block content %}

        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ object.product_name }}</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ object.price }}<small class="text-muted fw-light">/руб</small></h1>
                <img class="img-thumbnail"
                     src="{{ object.picture|mediapath }}"
                     alt="Thumbnail image">
                <ul class="list-unstyled mt-3 mb-4">
                  <li>{{ object.description|truncatechars:100}}</li>
                </ul>
                    <a class="btn btn-primary btn-lg" href="{% url 'main:prod_item' object.pk %}" role="button">Открыть описание</a>
                      <h1> </h1>
                    <a class="btn btn-success btn-lg" href="{% url 'main:prod_update' object.pk %}" role="button">Изменить</a>
                        <h1></h1>
                    {% if perms.main.delete_product %}
                    <a class="btn btn-danger btn-lg" href="{% url 'main:prod_delete' object.pk %}" role="button">Удалить</a>
                    {% endif %}
              </div>
            </div>
        </div>
        {% endfor %}
{% endblock %}
